<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilefamilyportal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fp_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mobilefamilyportal.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mobilefamilyportal.LoginActivity" 
            	  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.UserInfoActivity" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.UserInfoActivityOP" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.BankCardActivity" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.BankCardActivityOP" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.BankCardActivityView" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.TestActivity"
            	  android:screenOrientation="portrait">
           	<!-- 测试 -->
           <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity android:name="com.example.mobilefamilyportal.DailyConsumeActivity" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.DailyConsumeActivityOP" 
                  android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.mobilefamilyportal.DailyConsumeActivityView" 
                  android:screenOrientation="portrait"></activity>
    </application>
<uses-permission android:name="android.permission.INTERNET" />
</manifest>